{% extends "layout.twig" %}

{% block css %}
    <style rel="stylesheet">
        SECTION {
            padding: 0.3em;
            background-color: #f0f0f0;
            overflow: auto;
        }
        SECTION > DIV {
            float: left;
            padding: 0.3em;
            display: inline-block;
        }
        SECTION > DIV + DIV {
            width: 4em;
            text-align: center;
        }
        .s{
            width: 70em;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="flex-center position-ref full-height">
        {% if result %}
            <div class="alert alert-success">Listado guardado!</div>
        {% endif %}
        <div class="container col-md-12">
            <form method="post">
            <section class="container">
                <h2>Registro rubrica</h2>
                <div class="col-md-12 row">
                    <br>
                    <div class="col-md-6">
                        <label for="modulo">Modulo</label>
                        <select name="modulo" class="form-control" required>
                            <option value="">seleccione Modulo</option>
                            {% for modulo in modulo %}
                                <option id="{{ modulo.id }}" name="modulo" value="{{ modulo.id }}">{{ modulo.nombre }}</option>
                            {% endfor %}
                        </select>
                        <label for="modulo">Estado</label>
                        <select name="estado" class="form-control" required>
                            <option value="">seleccione Estado</option>
                            <option id="estado" name="estado" value="1">Activo</option>
                            <option id="estado" name="estado" value="2">Inactivo</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="nombre">Nombre Rubrica</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" required>
                    </div>
                    <br>
                </div>
                <div class="col-md-12">
                    <br>
                    <label for="alumnos">Preguntas Operacionales</label>
                    <br>
                    <br>
                    <table>
                        {% for operacional in operacional %}
                            <tr>
                                <td><input type="checkbox" name="criterioO[]" value="{{ operacional.id }}" id="id" ></td>
                                <td class="s"><input type="text" name="criterio[]" class="form-control" id="{{ operacional.id }}" value="{{ operacional.nombre }}" readonly></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-12">
                    <br>
                    <label for="alumnos">Preguntas Actitudinales</label>
                    <br>
                    <br>
                    <table>
                        {% for actitudinal in actitudinal %}
                            <tr>
                                <td><input type="checkbox" name="criterioA[]" value="{{ actitudinal.id }}"  id="id" ></td>
                                <td class="s"><input type="text" name="criterio[]" class="form-control" id="{{ actitudinal.id }}" value="{{ actitudinal.nombre }}" readonly></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>
            <br>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-lg btn-block">Guardar Lista</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </form>
            <br>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

{% endblock %}