{% extends "layout.twig" %}

{% block content %}
    <div class="flex-center position-ref full-height">
        {% if result %}
            <div class="alert alert-success">Registrado!</div>
        {% endif %}
        <div class="container col-md-10">
            <form method="post">
                <section class="container">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <label for="carrera">Carrera</label>
                        <select name="carrera" id="carrera" class="form-control" required>
                            <option value="">seleccione una carrera</option>
                            {% for carrera in carrera %}
                                <option name="carrera" id="{{ carrera.id }}" value="{{ carrera.id }}">{{ carrera.nombre }}</option>
                            {% endfor %}
                        </select>
                        <label for="asignatura">Asignatura</label>
                        <select name="asignatura" id="asignatura" class="form-control" required>
                            <option value="">seleccione una asignatura</option>
                            {% for asignatura in asignatura %}
                                <option name="asignatura" id="{{ asignatura.id }}" value="{{ asignatura.id }}">{{ asignatura.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="seccion">Sección</label>
                        <input type="number" min="1" max="30" name="seccion" class="form-control" id="seccion" required>
                        <label for="docente">Docente</label>
                        <select name="docente" id="docente" class="form-control" required>
                            <option value="">seleccione un docente</option>
                            {% for docente in docente %}
                                <option name="docente" id="{{ docente.id }}" value="{{ docente.id }}">{{ docente.nombre }}</option>
                            {% endfor %}
                            <option name="docente" id="docente" value="2">Juanin Juan Harris</option>
                            <option name="docente" id="docente" value="3">Larry Langosta</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <br>
                        <button class="btn btn-primary btn-block" id="cargar">Cargar</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br>
                </section>
            </form>
        </div>
    </div>
{% endblock %}

