{% extends 'layout.twig' %}

{% block content %}
    <div class="flex-center position-ref full-height">
            <section class="container">
                <h2>Evaluación alumnos</h2>
                <form method="post">
                <div class="col-md-12 row">

                        <div class="col-md-6">
                            <label for="seccion">Sección</label>
                            <select name="seccion" class="form-control" required>
                                <option value="">seleccione Sección</option>
                                <option id="seccion" name="seccion" value="rubrica">1</option>
                                <option id="seccion" name="seccion" value="rubrica">2</option>
                            </select>
                            <label for="rotacion">Rotación</label>
                            <select name="rotacion" class="form-control" required>
                                <option value="">seleccione rotación</option>
                                <option id="rotacion" name="rotacion" value="1">1</option>
                                <option id="rotacion" name="rotacion" value="2">2</option>
                                <option id="rotacion" name="rotacion" value="3">3</option>
                            </select>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <label for="modulo">Modulo</label>
                            <select name="modulo" class="form-control" required>
                                <option value="">seleccione modulo</option>
                                <option id="modulo" name="modulo" value="modulo">ventas</option>
                                {% for modulo in modulo %}
                                    <option id="{{ modulo.id }}" name="modulo" value="{{ modulo.id }}">{{ modulo.nombre }}</option>
                                {% endfor %}
                            </select>
                            <label for="rubrica">Rubrica</label>
                            <select name="rubrica" class="form-control" required>
                                <option value="">seleccione Estado</option>
                                {% for rubrica in rubrica %}
                                <option id="{{ rubrica.id }}" name="rubrica" value="{{ rubrica.id }}">{{ rubrica.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                </div>

                <div class="row col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <br>
                        <input type="button" class="btn btn-primary btn-block" value="filtrar">
                    </div>
                    <div class="col-md-4"></div>
                </div>
                </form>
                </select>
                <label for="rubrica">criterios</label>
                <select name="rubrica" class="form-control" required>
                    <option value="">seleccione Estado</option>
                    <option id="rubrica" name="rubrica" value="rubrica">pregunta 1</option>
                    <option id="rubrica" name="rubrica" value="rubrica">prefunta 2</option>
                </select>
                <form method="post">
                    <div class="col-md-12">
                        <br>
                        <br>
                        <table class="table table-dark">
                            <tr>
                                <th>id</th>
                                <th>nombre</th>
                                <th>no aplica</th>
                                <th>casi nunca</th>
                                <th>aveces</th>
                                <th>casi siempre</th>
                                <th>siempre</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>juan gonzalez</td>
                                <td><input type="radio" name="nota[1]" value="0"></td>
                                <td><input type="radio" name="nota[1]" value="1"></td>
                                <td><input type="radio" name="nota[1]" value="4"></td>
                                <td><input type="radio" name="nota[1]" value="5"></td>
                                <td><input type="radio" name="nota[1]" value="7"></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>juan perez</td>
                                <td><input type="radio" name="nota[2]"></td>
                                <td><input type="radio" name="nota[2]"></td>
                                <td><input type="radio" name="nota[2]"></td>
                                <td><input type="radio" name="nota[2]"></td>
                                <td><input type="radio" name="nota[2]"></td>
                            </tr>

                        </table>
                    </div>


                    <div class="row col-md-12">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <input type="button" class="btn btn-primary btn-lg btn-block" value="Guardar Lista">
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </section>
            <br>
            <br>
    </div>
{% endblock %}